.title {
	text-align: center;
	margin-top: 2%;
	border-bottom: lightseagreen 1px dotted;
	font-weight: lighter;
}

.subtitle {
	margin-bottom: 2%;
	color: lightseagreen;
	font-weight: lighter;
}

.homepage {
	margin-left: 15%;
	margin-right: 15%;
}

.date {
	font-weight: bold;
	margin-top: 50%;
}

.blogPost {
	border-bottom: 2px lightseagreen solid;
}

.author {
	font-style: italic;
}

.submit {
	margin-left: 50%;
}

.add {
	margin-top: 5%;
}

.table td {
	border-top: none;
}


