
/* Manage Horses */

/* Main View */
#manage-horses-main h5 {
	margin: 2rem 0rem 2rem 0rem;
}


/* Add and Edit/Delete View*/

.form-heading {
	margin-top: 1em;
	margin-bottom: 1em;
	text-decoration: underline;
}

.required-input {
	color: #ff0000;
	font-weight: bold;
}

.submit-horse-btn {
	display:block;
	margin-top: 2em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
  padding: 0.5em 1.5em;
}

.modal-footer .inactivate-btn
{
  background-color: #ff0000;
	color: #ffffff;
}
