/* Horse Medications Stylesheet */

.toggle {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.custom-control .custom-switch {
	display:inline;
}

.custom-control-label::before {
    left: -2.25rem;
    width: 4rem;
    height: 2rem;
    pointer-events: all;
    border-radius: .5rem;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(.75rem);
    transform: translateX(2.5rem);
}

input:checked + .custom-control-label:after {
    content: "";
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    width: 4rem;
    pointer-events: all;
    border-radius: .5rem;
}

.custom-control-label:after {
    padding-left: 1rem;
    width: 4rem;
}

input:checked + .custom-control-label:before {
    color: white;
    width: 4rem;
}

/**** Time of the Day Switch ****/

 .switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: lightseagreen;
    color: white;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}



/**** Original Time of the Day Switch - no longer in use ****/
input:checked + #label-time:after {
    content: "";
}

input:checked + #label-time:before {
    content: "PM";
}

input:not(:checked) + #label-time:after {
    content: "AM";
    padding-left: 1rem;
}

/**** View Horses Switch - no longer in use****/

input:checked + #label-horses:after {
    content: "";
}

input:checked + #label-horses:before {
    content: "ALL";
}

input:not(:checked) + #label-horses:after {
    content: "MEDS";
    padding-left: 1rem;
}

.table {
	margin-top: 2rem;
	margin-bottom: 2rem;
}