body>.container { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3 { 
   position: absolute; 
   top: 200px; 
   left: 200; 
   width: 75%;
   margin-left: 10%; 
   font-size: 2.5vh 2.5vw;
}

h5 {
	position: absolute; 
    top: 290px; 
    left: 100; 
    width: 75%; 
    margin-left: 10%;
    font-size: 2.0vh;
}

.list {
 	position: absolute; 
    top: 350px; 
    left: 100; 
    width: 75%; 
    margin-left: 10%;
    font-size: 1.5vh;
}

.moreinfo {
	position: absolute; 
    top: 450px; 
    left: 100; 
    width: 75%; 
    margin-left: 10%;
    font-size: 1.5vh 1.5vw;
}

span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

img {
	height: auto;
	width: 75%;
	opacity: 0.2;
  margin-left: 15%;
  padding-top: 20px;
}

img:hover {
	opacity: 0.4;
}

.btn {
	background-color: #F8F8F8;
	color: rgba(0,0,0,.5);
}

.btn:hover {
	color: lightseagreen;
  background-color: white;
}

.register {
	color: rgba(0,0,0,.5);
}

.register:hover {
	color: lightseagreen;
}

.modal-header {
  background-color: #F8F8F8;
  border-bottom: lightseagreen 2px solid;
  height: 50px;
}

.login {
  padding: 10px;
}

