/* View All Horses Stylesheet */



.card.horseCard {
	background-color: #F4F4F4;
	margin: 1em;
	text-align: center;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.horse-image {
	width: 100%;
	height: auto;
}

.card-body.profile-preview {
	text-align: left;
}
